extends ../layout

block content
  meta(http-equiv='refresh' content='10')
  .page-header
    h3(style='text-align:center') Analyzing Task #{taskid}
  img(src="/images/box.gif").img-responsive.center-block
