extends ../layout

block content
  .page-header
    h3 Portal
      button.btn.btn-sm.btn-primary.pull-right(onClick='goto_analysis()')
        i.fa.fa-plus
        span Analysis

  script.
    function goto_analysis() {
      window.location.href = '/analysis';
    }
